/* Button */

.order-button {
  color: var(--color-primary-light);
  background: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  padding: 16px 32px;
  font-size: 16px;
}

.order-button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}
